<div class="grid-item">
                <a target="_blank" href="https://www.leboncoin.fr">
                <amp-img src="img/menu/inventory/3296.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="https://www.taboola.com">
                <amp-img src="img/menu/inventory/3364.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://triplelift.com">
                <amp-img src="img/menu/inventory/1314.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="https://www.ligatus.com">
                <amp-img src="img/menu/inventory/3723.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://www.sharethrough.com">
                <amp-img src="img/menu/inventory/3425.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://www.gumgum.com">
                <amp-img src="img/menu/inventory/2758.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            