<div class="grid-item">
                <a target="_blank" href="https://www.leboncoin.fr">
                    <img src="img/menu/inventory/3296.jpg"">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="https://www.taboola.com">
                    <img src="img/menu/inventory/3364.jpg"">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://triplelift.com">
                    <img src="img/menu/inventory/1314.jpg"">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="https://www.ligatus.com">
                    <img src="img/menu/inventory/3723.jpg"">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://www.sharethrough.com">
                    <img src="img/menu/inventory/3425.jpg"">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://www.gumgum.com">
                    <img src="img/menu/inventory/2758.jpg"">
                </a>
            </div>
            