<div class="grid-item">
                <a target="_blank" href="https://www.google.com/adx">
                <amp-img src="img/menu/inventory/181.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://www.mopub.com">
                <amp-img src="img/menu/inventory/1813.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://rubiconproject.com">
                <amp-img src="img/menu/inventory/459.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="https://www.smaato.com">
                <amp-img src="img/menu/inventory/1752.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://openx.com">
                <amp-img src="img/menu/inventory/357.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://www.indexexchange.com">
                <amp-img src="img/menu/inventory/1410.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://www.brealtime.com">
                <amp-img src="img/menu/inventory/1356.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="https://advertising.yahoo.com">
                <amp-img src="img/menu/inventory/273.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://www.districtm.com">
                <amp-img src="img/menu/inventory/1908.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://advertising.microsoft.com">
                <amp-img src="img/menu/inventory/280.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://sonobi.com">
                <amp-img src="img/menu/inventory/2551.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="https://www.sovrn.com">
                <amp-img src="img/menu/inventory/1360.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://www.xad.com">
                <amp-img src="img/menu/inventory/3918.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://www.aolplatforms.com/onebyaol">
                <amp-img src="img/menu/inventory/1226.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://www.defymedia.com">
                <amp-img src="img/menu/inventory/1613.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://inner-active.com">
                <amp-img src="img/menu/inventory/2047.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://teads.tv">
                <amp-img src="img/menu/inventory/3334.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://www.tremorvideo.com">
                <amp-img src="img/menu/inventory/3332.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="https://www.aerserv.com">
                <amp-img src="img/menu/inventory/3366.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="https://www.collective.com">
                <amp-img src="img/menu/inventory/311.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            