<div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/acxiom.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/adadvisor.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/addthis.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/affinity-answers.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/alc.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/alliant.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/analyticsiq.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/areyouhuman.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/beintoo.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/blue-kangaroo.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/bombora.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/comscore.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/connexity.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/crosspixel.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/datacratic.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/datalab.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/dataline.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/datalogix.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/datamentors.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/datamyx.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/dataxpand.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/delidatax.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/dun-and-bradstreet.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/evite.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/experian.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/financial-audiences.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/forbes.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/gfk.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/i-behavior.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/infogroup.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/iri.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/ixi.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/kantar-media.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/lotame.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/mastercard.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/media-source.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/merkle.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/omni-digital.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/omnibus.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/profound.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/scanbuy.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/sirdata.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/solve-media.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/transunion.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/trusignal.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/twine.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/v12.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/vendigi.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/visavue.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="#">
                    <img src="img/menu/3rd_party/webbula.jpg">
                </a>
            </div>
            