<div class="grid-item">
                <a target="_blank" href="http://www.aolplatforms.com/onebyaol/">
                <amp-img src="img/menu/others/Adapt.tv.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="https://www.aerserv.com/">
                <amp-img src="img/menu/others/AerServ.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="https://www.google.com/adx/">
                <amp-img src="img/menu/others/GoogleAdx.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="https://www.facebook.com/audiencenetwork/">
                <amp-img src="img/menu/others/LiveRail.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://rubiconproject.com/">
                <amp-img src="img/menu/others/Rubicon.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://www.sharethrough.com/">
                <amp-img src="img/menu/others/Sharethrough.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://www.smartadserver.net/">
                <amp-img src="img/menu/others/SmartRTB.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="https://www.spotxchange.com/">
                <amp-img src="img/menu/others/SpotXchange.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://www.stickyads.tv/">
                <amp-img src="img/menu/others/StickyAds.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://teads.tv/">
                <amp-img src="img/menu/others/Teads.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://www.tremorvideo.com/">
                <amp-img src="img/menu/others/Tremor.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="https://unruly.co/products/#unrulyx">
                <amp-img src="img/menu/others/UnrulyX.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            