<div class="grid-item">
                <a target="_blank" href="https://www.spotify.com/">
                <amp-img src="img/menu/others/Spotify.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="https://www.tritondigital.com/">
                <amp-img src="img/menu/others/TritonDigital.jpg"
                  width="128"
                  height="128"
                  layout="responsive"></amp-img>
                </a>
            </div>
            