<div class="grid-item">
                <a target="_blank" href="http://www.aolplatforms.com/onebyaol/">
                    <img src="img/menu/others/Adapt.tv.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="https://www.aerserv.com/">
                    <img src="img/menu/others/AerServ.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="https://www.google.com/adx/">
                    <img src="img/menu/others/GoogleAdx.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="https://www.facebook.com/audiencenetwork/">
                    <img src="img/menu/others/LiveRail.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://rubiconproject.com/">
                    <img src="img/menu/others/Rubicon.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://www.sharethrough.com/">
                    <img src="img/menu/others/Sharethrough.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://www.smartadserver.net/">
                    <img src="img/menu/others/SmartRTB.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="https://www.spotxchange.com/">
                    <img src="img/menu/others/SpotXchange.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://www.stickyads.tv/">
                    <img src="img/menu/others/StickyAds.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://teads.tv/">
                    <img src="img/menu/others/Teads.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="http://www.tremorvideo.com/">
                    <img src="img/menu/others/Tremor.jpg">
                </a>
            </div>
            <div class="grid-item">
                <a target="_blank" href="https://unruly.co/products/#unrulyx">
                    <img src="img/menu/others/UnrulyX.jpg">
                </a>
            </div>
            