<!DOCTYPE html>
<html ⚡>
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <link rel="canonical" href="http://rtb.cat/appnexus-co-pilot.html">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,600,700">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>{{> css/styles.min.css }}</style>
    <title>Campaign Co-Pilot</title>
</head>
<body>
    {{> html/menu.html }}
    <h2>Campaign Co-Pilot</h2>
    <p>The Campaign Co-Pilot lets you:</p>
    <ul>
        <li>Create your own Rules to manage AppNexus' traffic.</li>
        <li>Auto-blacklist based on CPM, CTR, CPA, CPC, or <a href="fill-rate-tools.html">fill-rate</a> for video.</li>
    </ul>
    <p>Our inventory includes more than 800 networks at your fingertips (similar to other self serve DSP’s with a few additional medium-size exchanges and publishers). The real benefit of the co-pilot is workflow efficiency.</p>
    <p>Large budgets have already been spent to create whitelists. This means you will buy only the highest quality placements.</p>
    <p>
        <amp-img src="img/menu/products/ui.jpg"
          width="448"
          height="275"
          layout="responsive"></amp-img>
    </p>
    <h3>Reporting with Automatic Pivot-tables</h3>
    <p>CPA's are automatically calculated on yesterday's performance. Analytics on the APNX console is essentially CSV-only, which is why we built our stats UI & automatic pivot-tables. "CPA-buckets" are generated per: placement or domain, creative, creative size, Carrier, Seller/Network/Exchange.</p>
    <p>In the blink of an eye you can see CPA’s, P/L, or for video fill-rate Using our Rule-based optimiser and ad-start API ensures your CPM bids are automatically updated and the campaign is kept profitable.</p>
    {{> html/footer.html }}
    {{> html/menu_modals.html }}
</body>
</html>