<!DOCTYPE html> 
<html ⚡>
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <link rel="canonical" href="index.html">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,600,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gochi+Hand">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>{{> css/styles.min.css }}{{> css/index.min.css }}</style>
    <title>Home - Programmatic Platform</title> 
</head>
<body>
    {{> html/menu.html }}
    <section id="splash_screen">
        <div class="tooltip tooltip-west">
            <span class="tooltip-item"></span>
            <span class="tooltip-content">Target Males, 18-24, using an iPhone, on T-Mobile</span>
        </div>
        <div class="tooltip tooltip-west">
            <span class="tooltip-item"></span>
            <span class="tooltip-content">Target Female, 25-34, on Cosmopolitan.com, recently viewed "acne products" video</span>
        </div>
        <div class="tooltip tooltip-east">
            <span class="tooltip-item"></span>
            <span class="tooltip-content">Female, 35-50, Staying home for the weekend, recipes searched</span>
        </div>
        <div class="tooltip tooltip-east">
            <span class="tooltip-item"></span>
            <span class="tooltip-content">RTB retargeting: bought Self-Help on amazon</span>
        </div>
    </section>
    <section id="sellers">
        <h2>Gain access to these partners via self-serve DSP on the open market.<br>Get direct deals through deal ID / PMP</h2>
        <a class="seller" target="_blank" href="https://advertising.amazon.com/">
            <amp-img src="img/index/amazon.png"
              width="320"
              height="85"
              layout="responsive"></amp-img>
            <div class="title">DSP</div>
        </a>
        <a class="seller" target="_blank" href="https://www.appnexus.com/">
            <amp-img src="img/index/appnexus.png"
              width="320"
              height="85"
              layout="responsive"></amp-img>
            <div class="title">DSP &amp; OpenRTB</div>
        </a>
        <a class="seller" target="_blank" href="https://www.doubleclickbygoogle.com/">
            <amp-img src="img/index/doubleclick.png"
              width="320"
              height="85"
              layout="responsive"></amp-img>
            <div class="title">DSP &amp; OpenRTB</div>
        </a>
        <a class="seller" target="_blank" href="http://advertising.ebay.co.uk/resources/solutions/programmatic-buying-ebay">
            <amp-img src="img/index/ebay.png"
              width="320"
              height="85"
              layout="responsive"></amp-img>
            <div class="title">Deal ID</div>
        </a>
        <a class="seller" target="_blank" href="https://www.facebook.com/business/">
            <amp-img src="img/index/facebook.png"
              width="320"
              height="85"
              layout="responsive"></amp-img>
            <div class="title">DSP Only</div>
        </a>
        <a class="seller" target="_blank" href="http://advertising.microsoft.com/home">
            <amp-img src="img/index/microsoft.png"
              width="320"
              height="85"
              layout="responsive"></amp-img>
            <div class="title">DSP &amp; OpenRTB</div>
        </a>
        <a class="seller" target="_blank" href="http://www.mopub.com/">
            <amp-img src="img/index/mopub.png"
              width="320"
              height="85"
              layout="responsive"></amp-img>
            <div class="title">DSP &amp; OpenRTB</div>
        </a>
        <a class="seller" target="_blank" href="http://openx.com/">
            <amp-img src="img/index/openx.png"
              width="320"
              height="85"
              layout="responsive"></amp-img>
            <div class="title">DSP &amp; OpenRTB</div>
        </a>
        <a class="seller" target="_blank" href="http://operamediaworks.com/">
            <amp-img src="img/index/opera.png"
              width="320"
              height="85"
              layout="responsive"></amp-img>
            <div class="title">DSP</div>
        </a>
        <a class="seller" target="_blank" href="http://www.pubmatic.com/">
            <amp-img src="img/index/pubmatic.png"
              width="320"
              height="85"
              layout="responsive"></amp-img>
            <div class="title">DSP &amp; OpenRTB</div>
        </a>
        <a class="seller" target="_blank" href="http://rubiconproject.com/">
            <amp-img src="img/index/rubicon.png"
              width="320"
              height="85"
              layout="responsive"></amp-img>
            <div class="title">DSP &amp; OpenRTB</div>
        </a>
        <a class="seller" target="_blank" href="https://www.smaato.com/">
            <amp-img src="img/index/smaato.png"
              width="320"
              height="85"
              layout="responsive"></amp-img>
            <div class="title">Smaato</div>
        </a>
        <a class="seller" target="_blank" href="https://www.taboola.com/">
            <amp-img src="img/index/taboola.png"
              width="320"
              height="85"
              layout="responsive"></amp-img>
            <div class="title">Retargeting</div>
        </a>
        <h3>See <a href="">impressions table</a> for all 800+ exchanges, sellers and publishers
via self-serve DSP and OpenRTB 2.3 (currently in beta)</h3>
    </section>
    {{> html/footer.html }}
    {{> html/menu_modals.html }}
</body>
</html>