<!DOCTYPE html>
<html ⚡>
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <link rel="canonical" href="http://rtb.cat/programmatic-audio.html">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,600,700">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>
    {{> css/styles.min.css }} {{> css/tooltip-classic.min.css }}
    td:first-child {width: 100px;}
    </style>
    <title>Programmatic Audio</title>
</head>
<body>
    {{> html/menu.html }}
    <h2>Programmatic Audio</h2>
    <p>Inventory available: Spotify, Triton digital, AdsWizz.</p>
    <h2>Spotify</h2>
    <div class="contain">
        <table>
            <tbody>
                <tr>
                    <td>File Type</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>MP3, WAV or OGG</td>
                </tr>
                <tr>
                    <td>Companion Banner</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>640x640 or 300x250</td>
                </tr>
                <tr>
                    <td>Bit Rate</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>Minimum 128 kbps</td>
                </tr>
                <tr>
                    <td>Ad Length</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>15 or 30 seconds</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>Details:</p>
    <ul>
        <li>Optional static companion banner images available at 640x640 hosted JPG.</li>
        <li>Creatives must be submitted for audit and be fully SSL compliant.</li>
        <li>Alcohol: Allowed only with 21+ age targeting.</li>
        <li>Users hear 1 ad every 15 minutes.</li>
        <li>All ads are non-skippable.</li>
        <li>All ads come with completion rate percentage.</li>
        <li>Global inventory available at scale. Daily imps by market available on request.</li>
        <li>Rate card by geo available on request.</li>
    </ul>
    <p>Targeting available:</p>
    <ul>
        <li>Geo/DMA, time-of-day, re-targeting (Android only).</li>
        <li>Age &amp; gender.</li>
        <li>Song genre.</li>
        <li>Playlist.</li>
    </ul>
    <h2>Triton</h2>
    <div class="contain">
        <table>
            <tbody>
                <tr>
                    <td>File Type</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>MP3</td>
                </tr>
                <tr>
                    <td>Bit Rate</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>128 kbps</td>
                </tr>
                <tr>
                    <td>Ad Length</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>15, 30, or 60 seconds</td>
                </tr>
                <tr>
                    <td>Sample Rate</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>44100 Hz</td>
                </tr>
                <tr>
                    <td>Volume</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>Normalized to -4db</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="contain">
        <table class="bordered">
            <thead>
                <tr>
                    <th>Device</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Computer App</td>
                    <td>Players in PC-based apps such as iTunes, Windows Media Player, Winamp, or VLC. Does not use cookies.</td>
                </tr>
                <tr>
                    <td>Computer Browsers</td>
                    <td>Players rendered in PC-based web browsers. Uses cookies.</td>
                </tr>
                <tr>
                    <td>Mobile Apps</td>
                    <td>Players in mobile device player apps. Does not use cookies.</td>
                </tr>
                <tr>
                    <td>Mobile Browser</td>
                    <td>Players in device-optimized mobile web browsers, such as iOS Safari and Android Chrome. Uses cookies.</td>
                </tr>
                <tr>
                    <td>Uncategorized</td>
                    <td>The vast majority of this inventory is intended for mobile apps, but it also includes consoles such as Roku. Does not use cookies.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2>AdsWizz</h2>
    <div class="contain">
        <table>
            <tbody>
                <tr>
                    <td>File Type</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>MP3, AAC, WAV</td>
                </tr>
                <tr>
                    <td>File Size</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>Maximum 20MB</td>
                </tr>
                <tr>
                    <td>Bit Rate</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>Minimum 128 kbps, 196kbs recommended</td>
                </tr>
                <tr>
                    <td>Ad Length</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>15, 30, or 60 seconds</td>
                </tr>
            </tbody>
        </table>
    </div>
    {{> html/footer.html }}
    {{> html/menu_modals.html }}
    {{> html/view_pixels.html }}
</body>
</html>