<!DOCTYPE html>
<html ⚡>
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <link rel="canonical" href="index.html">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,600,700">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>{{> css/styles.min.css }} {{> css/tooltip-classic.min.css }}</style>
    <title>Proprietary Bidder</title>
</head>
<body>
    {{> html/menu.html }}
    <h2>Proprietary Bidder<br><small>And OpenRTB integration</small></h2>
    <h3>Enterprise Solution</h3>
    <p>RTBcat enjoys direct integrations with the largest suppliers of inventory, Google AdX, AOL, Microsoft, among many others.</p>
    <p>Our proprietary bidder provides:</p>
    <ul>
        <li>Extremely lean tech-requirements.</li>
        <li>Real time reporting.</li>
        <li>Near-real-time decisioning (typically).</li>
    </ul>
    <p>We have dubbed this a "cognitive bidder", because of its use of both supervised and un-supervised ML and <i>target at an individual cookie-level</i>.</p>
    <p>You can choose from using our deep-learning &amp; neural nets, or bring-your-own (and keep your data in-house).</p>
    <p>The usual trade-off between accuracy &amp; speed in ML is significantly improved in this next-generation of bidders. Because our tech has much a leaner set-up, we are able to process much more data in real-time. It's not always essential, but when it is, it can make a big difference to performance and efficiency.</p>
    <p class="text-right"><a href="https://docs.google.com/a/rtb.cat/forms/d/e/1FAIpQLSeCU2430zqJNNj9IGNRtMhvPfQsmQCvtvySBnUIyDAF0as_Zw/viewform">Click here to enquire about OpenRTB integration</a>.</p>
    <h3>ai</h3>
    <p>Custom-built neural networks designed to solve campaign management problems.</p>
    <p>Ever felt like your brain just couldn't handle all the potential pivots that a campaign could or should do?</p>
    <p>Ever felt bad about the missed opportunities that you see in your excel?</p>
    <p>If only you had more hands, and infinite time to build individual day-parting campaigns, Carrier-specific campaigns, banner-specific campaigns...?</p>
    <p>And all the while collect all of this data on individual impressions and visitors - to then accurately (re-)target?</p>
    <p>That is what our a.i. gives you.</p>
    <p>You can now deploy a "mind" that gives you the ability to "be everywhere" and "optimise everything". This is an extremely powerful a.i that gives the experienced campaign manager hundreds of 'sub-brains'.</p>
    <h3>On-premise ai</h3>
    <p>Need to keep your data secure, private and in-house? Use our ai on top of your on-premise CRM/1st party data.</p>
    <p class="text-right"><a href="#">Click here to enquire about our ai solutions</a></p>
    {{> html/footer.html }}
    {{> html/menu_modals.html }}
</body>
</html>