<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="canonical" href="http://rtb.cat/thank-you.html">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,600,700">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style>{{> css/styles-regular.min.css }}</style>
    <title>Thank You</title>
</head>
<body>
    {{> html/menu.html }}
    <h2>Message Sent</h2>
    <p>Thank you for contacting us!</p>
    {{> html/footer.html }}
    {{> html/menu_modals_regular.html }}
    <script src="js/jquery-1.11.3.min.js"></script>
    <script>
        var cache_buster = (new Date()).getTime();
        var callback_url = 'http://trends.revcontent.com/conv.php?t=eJwFwYEBwCAIA7CXZsEK51AH%2F59gQmpWubBlE%2Ba3cMKsBSJZX6ZtrOU0IaDjw%2F96qyJa0%2FkAJPwRWg%3D%3D&cache_bust=' + cache_buster;
        var conversion_pixel = '<img src="'+callback_url+'" style="position:absolute;opacity:0">';
        $('body').append(conversion_pixel);
    </script>
</body>
</html>